body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1 {
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%)
}
.navbar li{
    float: left;
}
.map {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 80vh;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
}
#map {
        height: 80vh;       
        width: 100%;        
        margin-top: 20px;   
        border: 2px solid #ccc;
        border-radius: 8px;
      }